.container {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .destination-card {
    margin-bottom: 20px;
  }
  
  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  mat-card img {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  mat-card-content {
    padding: 16px;
  }
  
  mat-card-content p {
    margin: 8px 0;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  
  mat-card-actions button {
    background-color: #3f51b5;
    color: white;
  }
  
  mat-card-actions button:hover {
    background-color: #303f9f;
  }

  .mat-mdc-table {
    width: 100%;
    background-color: #12262f;
  }
  .mat-icon {
    color: #12262f;
  }
  .mat-mdc-header-row {
    color: black;
  }
  .mat-mdc-header-cell {
    color: white;
    background-color: #12262f;
  }
  .mat-mdc-cell {
    color: black;
  }
  .mat-mdc-row {
    background-color: #e1ebc1;
  }
  .mat-mdc-paginator {
    background-color: #12262f;
  }