<nav class="nav-menu">
    <div class="content-container">
        <a href="/flights" class="nav-icon" title="רשימת טיסות">
            <i class="icon-flight"></i>
            רשימת טיסות
        </a>
        <a href="/destinations" class="nav-icon" title="יעדים">
            <i class="icon-destination"></i>
            יעדים
        </a>
        <a href="/bookings" class="nav-icon" title="הזמנות">
            <i class="icon-booking"></i>
            הזמנות
        </a>
        <a href="/schedule" class="nav-icon" title="לוח זמנים">
            <i class="icon-schedule"></i>
            לוח זמנים
        </a>
        <a href="/statistics" class="nav-icon" title="סטטיסטיקות">
            <i class="icon-stats"></i>
            סטטיסטיקות
        </a>
        <a href="/settings" class="nav-icon" title="הגדרות">
            <i class="icon-settings"></i>
            הגדרות
        </a>
        <a href="/users" class="nav-icon" title="משתמשים">
            <i class="icon-users"></i>
            משתמשים
        </a>
    </div>
</nav>
