<div class="container">
  <h1>Find Flights</h1>
  <div class="mat-elevation-z8">
    <!-- Search Input -->
    <mat-form-field class="example-form-field">
      <mat-label class>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search all fields">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight No. </th>
        <td mat-cell *matCellDef="let flight"> {{flight.id}} </td>
      </ng-container>

      <!-- From Column -->
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
        <td mat-cell *matCellDef="let flight"> {{flight.originCode}} </td>
      </ng-container>

      <!-- To Column -->
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
        <td mat-cell *matCellDef="let flight"> {{flight.destinationCode}} </td>
      </ng-container>

      <!-- Departure Column -->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Depart </th>
        <td mat-cell *matCellDef="let flight"> {{flight.departureDateTime | date:'short'}} </td>
      </ng-container>

      <!-- Return Column -->
      <ng-container matColumnDef="return">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Return </th>
        <td mat-cell *matCellDef="let flight"> {{flight.returnDateTime | date:'short'}} </td>
      </ng-container>

      <!-- Book Column -->
      <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef> Book </th>
        <td mat-cell *matCellDef="let flight">
          <button mat-button color="primary" [routerLink]="['/book-flight', flight.id]">Book</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
