<header>
  <mat-toolbar class="toolbar">
    <!-- Menu button to open options -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon> <!-- Menu icon -->
    </button>

    <!-- Logo with routerLink -->
    <a routerLink="/">
      <img src="assets/images/OnoAirLogo.png" class="site-logo" alt="Logo" />
    </a>
  </mat-toolbar>

  <!-- Menu options -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="manage-flights">Manage Flights</button>
      <button mat-menu-item routerLink="manage-destination">Manage Destinations</button>
      <button mat-menu-item routerLink="myBookings">My Bookings</button>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="userMenu">User</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="search-flight">Search a flight</button>
      <button mat-menu-item routerLink="myBookings">My Bookings</button>
    </mat-menu>
  </mat-menu>
</header>
