header {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #12262f;
  }
  
  .site-logo {
    width: 100px;
    height: auto;
  }
  