.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://cdn3.iconfinder.com/data/icons/world-top-cities-2-3/180/79-512.png');
    background-size: cover;
  }

.mat-mdc-card-header {
    background-color: cadetblue;
}

.mat-mdc-card-actions {
    background-color: cadetblue;
}

.mat-mdc-card-content {
    background-color: cadetblue;
}

.mat-mdc-card-after {
    background-color: cadetblue;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between cards as needed */
  }
  
  .example-card {
    flex: 1 1 calc(33.333% - 16px); /* Adjust the width of the cards as needed */
    box-sizing: border-box;
  }

.example-header-image2 {
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/45/51/05/1000_F_545510595_CDMhGwg0kVEhCqlFyaB5jJR22kVj3r7t.jpg');
    background-size: cover;
  }

.example-header-image3 {
    background-image: url('https://images.vexels.com/media/users/3/136545/isolated/preview/402de4a5b1a7d8aa49d44446edd732a2-paris-landmark-emblem-by-vexels.png');
    background-size: cover; 
  }