<div class="card-container">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Berlin</mat-card-title>
      <mat-card-subtitle>Germany</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.gettyimages.com/id/503874284/photo/berlin-skyline-with-spree-river-at-sunset-germany.jpg?b=1&s=170667a&w=0&k=20&c=XEIBnQAGvv3_vwJn25Gr-3TGaPcKiVO7DrZbHZuwDvs=" alt="Photo of a Berlin">
    <mat-card-content>
      <p>
        Fly to Berlin, where history meets vibrant modernity! Explore iconic landmarks, world-class museums,
         and dynamic nightlife. With great fares and convenient flights, your next adventure awaits.
          Book now and discover the magic of Germany's capital!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Dublin</mat-card-title>
      <mat-card-subtitle>Ireland</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/4/42/Samuel_Beckett_Bridge_At_Sunset_Dublin_Ireland_%2897037639%29_%28cropped%29.jpeg" alt="Photo of a Dublin">
    <mat-card-content>
      <p>
        Fly to Dublin, the heart of Ireland’s charm and culture! Explore historic castles, lively pubs,
         and stunning coastal views. With great fares and convenient flights, your Irish adventure starts here.
          Book now and experience the magic of Dublin!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image3"></div>
      <mat-card-title>Paris</mat-card-title>
      <mat-card-subtitle>France</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://th.bing.com/th/id/R.9e6750521162e56ee11750d60681fbb1?rik=A9Az7%2bxUagM1UA&pid=ImgRaw&r=0" alt="Photo of a Paris">
    <mat-card-content>
      <p>
        Fly to Paris, the city of love and timeless elegance! Discover iconic landmarks, world-class cuisine,
         and charming streets. With great fares and convenient flights, your Parisian escape awaits.
          Book now and fall in love with Paris!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>