<div class="container">
  <h1>Last Minute Flights</h1>
  <div *ngIf="flight.length > 0; else noFlights" class="flight-cards-container">
    <div *ngFor="let flight of flight" class="flight-card">
      <mat-card>
        <img mat-card-image [src]="flight.imageUrl" alt="Destination Image">
        <mat-card-content>
          <h2>{{cityNames[flight.destinationCode]}}</h2>
          <p><strong>Departure:</strong> {{flight.departureDateTime | date:'short'}}</p>
          <p><strong>Return:</strong> {{flight.returnDateTime | date:'short'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="bookFlight(flight.id)">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <ng-template #noFlights>
    <p class="no-flights">No available flights this week.</p>
  </ng-template>
</div>