<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Last minute flights
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-last-min-flight></app-last-min-flight>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Find a Flight
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-find-flight></app-find-flight>
    </mat-expansion-panel>
  </mat-accordion>