    .mdc-card__media:first-child {
        width: 100px;
         height: auto;
    }
    .mat-mdc-card {
        background-color: #e1ebc1 ;
    }
    .container {
        margin: 20px;
      }
      
      h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black;
      }
      
      .booking-card {
        margin-bottom: 20px;
      }
      
      mat-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      mat-card img {
        max-height: 200px;
        object-fit: cover;
      }
      
      mat-card-content {
        padding: 16px;
      }
      
      mat-card-content p {
        margin: 8px 0;
      }
      
      mat-card-actions {
        display: flex;
        justify-content: flex-end;
        padding: 16px;
      }
      
      mat-card-actions button {
        background-color: #12262f;
        color: white;
      }
      
      mat-card-actions button:hover {
        background-color: #12262f;
      }